PORT=10000
NODE_ENV=staging

DATABASE_URL=
MQTT_BROKER_URL=
AI_SERVICE_URL=
BACKEND_API_URL=

NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_MQTT_BROKER=

SUPABASE_DB_HOST=
SUPABASE_DB_NAME=
SUPABASE_DB_USER=
SUPABASE_DB_PASSWORD=

MOSQUITTO_PORT=1883
MOSQUITTO_USERNAME=
MOSQUITTO_PASSWORD=
